body {
    padding: 12pt;
}

#about {
    padding-top: 5%;
    color: #FFF;
}

p {
    margin-top: 50pt;
    padding: 14pt 200pt 14pt 24pt;
    font-size: 18pt;
    font-family: Tahoma, Verdana, sans-serif;
    border: 2px solid #000;
    background-color: #000;
    border-radius: 10pt;
}

.profile {
    float: right;
    margin-top: 6pt;
    margin-left: 10%;
    margin-right: 10%;
    border: 1px solid #000;
    border-radius: 5pt;
}

#badgecontainer {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.badge {
    padding: 10px;
    height: 100px;
    opacity: 0.7;
}