canvas {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
}

#topborder {
    background-image: url("../Resources/border_top.jpg");
    background-repeat: repeat-x;
    background-size: 78px 18px;
    padding: 0;
    margin-top: -5px;
}

img {
    height: 18px;
    width: 78px;
    padding: 0;
    margin: 0;
}