html, body, ul {
    min-width: 250px;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px;
    overflow: hidden;
}

li {
    position: relative;
    left: -50px; /* Distance tabs are off the screen this <--- way */
    cursor: default;
}

img {
    cursor: pointer;
}