img {
    filter: drop-shadow(0 0 8px #F29);
}

.col-sm-3 {
    margin-bottom: 30px;
}

.p-img-title {
    font-weight: bold;
    font-size: large;
    min-height: 30px;
    color: #F9E8E2;
}

.portfolio-text {
    text-shadow: #F29 -5px -5px 0px;
}

h1 {
    color: #F9E8E2 !important;
    margin-bottom: 0px !important;
    text-shadow: #F29 1px 1px 8px;
}

h2 {
    color: #2E2D88 !important;
    margin-top: 0px !important;
    text-shadow: #81D3D1 1px 1px 2px;
}

a, a:visited {
    color: #FF55A3 !important;
}

a:hover, a:active {
    color: #ff76a0 !important;
}

a {
    color: #FF55A3 !important;
}

.container-fluid, body {
    background-color: #010203 !important;
}

/* Adaptible font sizes */
@media (min-width: 0px) {
    h1 {
        font-size: 20pt !important;
    }
    h2 {
        font-size: 15pt !important;
    }
    .pinklinks {
        font-size: 9pt !important;
    }
}
@media (min-width: 575.98px) {
    h1 {
        font-size: 22pt !important;
    }
    h2 {
        font-size: 18pt !important;
    }
    .pinklinks {
        font-size: 10pt !important;
    }
}
@media (min-width: 767.98px) {
    h1 {
        font-size: 32pt !important;
    }
    h2 {
        font-size: 25pt !important;
    }
    .pinklinks {
        font-size: 14pt !important;
    }
}
@media (min-width: 991.98px) {
    h1 {
        font-size: 36pt !important;
    }
    h2 {
        font-size: 28pt !important;
    }
    .pinklinks {
        font-size: 16pt !important;
    }
}
@media (min-width: 1199.98px) {
    h1 {
        font-size: 54pt !important;
    }
    h2 {
        font-size: 32pt !important;
    }
    .pinklinks {
        font-size: 18pt !important;
    }
}

/* Add a gray background color and some padding to the footer */
footer {
    background-color: #f2f2f2;
    padding: 15px;
}

/* Highlight tool tip text on hover */
.tooltiptext {
    pointer-events: none;

    width: 100%;
    height: 100%;

    background-color: #1b1b1b;
    color: #F9E8E2;
    text-align: center;
    border-radius: 6px;
    padding: 8px;
}

.col-sm-3:hover .tooltiptext {
    background-color: #282020;
}

.tooltiptext {
    -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
            transition: all 0.5s ease;
}

/* Prevent tool tip text highlight on mobile */
@media (any-hover: none) {
    .col-sm-3:hover .tooltiptext {
        opacity: 1.0;
    }
}
