#header-div {
    position: relative;
    padding-bottom: 50px;
}

#particles-js {
    height: 102%;
    width: 100%;
    position: absolute;
    margin: 0;
    padding: 0;
}

hr {
    margin: 0 !important;
}

.rainbow-horz {
    background-image: url("../resources/flowa-rainbow.png");
    background-size: 100% 100%;
}

.col-sm-3 {
    margin-bottom: 30px;
}

.p-img-title {
    font-weight: bold;
    font-size: large;
    min-height: 30px;
    color: #0b0835;
}

.portfolio-text {
    color: #f28a0f;
    text-shadow: #e5340b -5px -5px 0px;
}

.portfolio-text-arrows {
    color: #f28a0f;
    text-shadow: #0b0835 1px 1px 0px;
}

h1 {
    color: #0c5679 !important;
    text-shadow: #3f8a8c -1px -1px 4px, 
        #ffe7bd -20px -20px 0px, #e5340b -20px -20px 3px,
        #ffe7bd -40px -40px 0px, #f28a0f -40px -40px 3px,
        #ffe7bd -60px -60px 0px, #e5340b -60px -60px 2px,
        #ffe7bd -80px -80px 0px, #0c5679 -80px -80px 2px, 
        #ffe7bd -100px -100px 0px, #3f8a8c -100px -100px 1px
}

h3 {
    color: #2E2D88 !important;
    margin-top: 0px !important;
    text-shadow: #81D3D1 1px 1px 2px;
}

.name-text {
    white-space: nowrap !important;
    margin-top: 110px !important;
    margin-bottom: 0% !important;
}

a, a:visited {
    color: #0c5679 !important;
}

a:hover, a:active {
    color: #e5340b !important;
}

a {
    color: #0c5679 !important;
}

.container-fluid, body {
    background-color: #ffe7bd !important;
    z-index: 1;
}

/* Adaptible font sizes */

@media (min-width: 0px) {
    h1 {
        font-size: 28pt !important;
    }
    h2 {
        font-size: 28pt !important;
        margin-top: 0px !important;
    }
    .pinklinks {
        font-size: 16pt !important;
    }
}

@media (min-width: 575.98px) {
    h1 {
        font-size: 35pt !important;
    }
    h2 {
        font-size: 35pt !important;
        margin-top: 0px !important;
    }
    .pinklinks {
        font-size: 20pt !important;
    }
}

@media (min-width: 767.98px) {
    h1 {
        font-size: 36pt !important;
    }
    h2 {
        font-size: 35pt !important;
        margin-top: 0px !important;
    }
    .pinklinks {
        font-size: 20pt !important;
    }
}

@media (min-width: 991.98px) {
    h1 {
        font-size: 38pt !important;
    }
    h2 {
        font-size: 35pt !important;
        margin-top: 0px !important;
    }
    .pinklinks {
        font-size: 20pt !important;
    }
}

@media (min-width: 1199.98px) {
    h1 {
        font-size: 54pt !important;
    }
    h2 {
        font-size: 50pt !important;
        margin-top: 0px !important;
    }
    .pinklinks {
        font-size: 24pt !important;
    }
}

/* Add a gray background color and some padding to the footer */

footer {
    background-color: #f2f2f2;
    padding: 15px;
}

/* Highlight tool tip text on hover */

.tooltiptext {
    pointer-events: none;
    width: 100%;
    height: 100%;
    background-color: #1b1b1b;
    color: #F9E8E2;
    text-align: center;
    border-radius: 6px;
    padding: 8px;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

img {
    filter: drop-shadow(0 -2px 4px #e5340b);

    -webkit-transition: all 0.21s ease;
    -moz-transition: all 0.21s ease;
    -o-transition: all 0.21s ease;
    -ms-transition: all 0.21s ease;
    transition: all 0.21s ease;
}

.col-sm-3:hover img {
    filter: drop-shadow(0 -2px 7px rgb(248, 2, 133));
}

.col-sm-3:hover .tooltiptext {
    background-color: #282020;
}

/* Prevent tool tip text highlight on mobile */
@media (any-hover: none) {
    .col-sm-3:hover img {
        filter: drop-shadow(0 -2px 5px #FF2299);
    }

    .col-sm-3:hover .tooltiptext {
        opacity: 1.0;
    }
}